
// Modal
.modal-big-large {
    width: 90%;

    @media (max-width: 768px) { 
        width: 96%;
        margin: auto;
        margin-top: 10px;
    }
}

.modal-custom{
    overflow: auto;
    max-height:600px;
}

.modal-subtitle {
    margin-top: 10px;
    font-style: italic;
    span {
        margin-left: 10px;
    }
}
